*{
    box-sizing: border-box;
}
.search-admin-pan{
    max-width: 1400px;
    width: 100%;
    padding: 15px 20px;
    color: #868C98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    cursor: pointer;
}

.input-serch-admin{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    border: 1px solid #E2E4E9;
    border-radius: 10px;
    width: 240px;
    color: #868C98;
    padding-left: 5px;
}

.for_filter{
    position: relative;
}

.input-serch-admin input{
    border: none;
    height: 35px;
    color: #868C98;
    outline: none;
}

.bell-admin-pan{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-admin-pan{
    display: flex;align-items: center;gap: 5px;
    border: 1px solid #E2E4E9;
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
}
.user-admin-pan img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Quit-from-akk{
    position: absolute;
    z-index: 999;
    width: 120px;
    background-color: #fff;
    height: 40px;
    top: 52px;
    left: 0;
    border-left: 1px solid #E2E4E9;
    border-right: 1px solid #E2E4E9;
    border-bottom: 1px solid #E2E4E9;
    border-radius: 10px;
    padding: 4px 0px 0px 0px;
    display: none;
}
.Quit-akk{
    display: block;
}
.Quit-from-akk p{
    font-family: "Inter", sans-serif; 
    width: 90%;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.Quit-from-akk p:hover{
background-color: #F6F8FA;
color: #000;
}
.Quit-from-akk p:hover .FaPersonWalkingDashedLineArrowRight{
    color: #3281FF;
    }
@media (max-width:500px) {
    .input-serch-admin{
        display: none;
    }
    .bell-admin-pan{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rayting-admin{
        width: 90% !important;
    }
    .rayting-admin-p{
        font-family: "Inter", sans-serif; 
        font-size: 20px;
        font-weight: 500 !important;
    }
    .filter-admin p{
        font-size: 14px;
    }
    .filter-admin{
        padding: 5px 10px !important;
    }
    
}
.admin-hr{
    width: 100%;
    border: 1px solid #E2E4E9;
    margin-top: 10px;
}

.rayting-admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    margin-top: 30px;
    cursor: pointer;
}
.rayting-admin-p{
    font-family: "Inter", sans-serif; 
    font-size: 25px;
    font-weight: 600;
}

.filter-admin{
    display: flex;align-items: center;gap: 5px;
    border: 1px solid #E2E4E9;
    border-radius: 10px;
    padding: 10px 15px;
    color: #868C98;
}
.RiArrowDropDownLine{
    font-size: 20px;
}
.search-input-admin input{
    border: none;
    height: 35px;
    color: #868C98;
    width: 90%;
    outline: none;
}
.search-input-admin{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    border: 1px solid #E2E4E9;
    border-radius: 10px;
    width: 400px;
    color: #868C98;
    padding-left: 5px;
}
.search-filter-admin{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 15px 20px;
}

.filter-admin-pan, .sortirovka-admin-pan{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    border: 1px solid #E2E4E9;
    padding: 0px 10px;
    border-radius: 10px;
    font-family: "Inter", sans-serif; 
    font-size: 14px;
    cursor: pointer;
    position: relative;
}


.filter-little-modal{
    width: 300px;
    text-align: start;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    border-radius: 10px;
}

.filter-little-modal1{
    width: 300px;
    text-align: start;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    border-radius: 10px;
}
.filter-little-modal2{
    width: 200px;
    text-align: start;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    margin-top: 420px;
    margin-left: -20px;
    display: none;
    border-radius: 10px;
}

.filter-little-modal1 hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    border: 1px solid #E2E4E9;
}

.filter-balls{
    width: 90%;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: "Inter", sans-serif; 
    color: #525866 !important;
    cursor: pointer;
}
.type-filter{
    color: #868C98 ;
    width: 85%;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: "Inter", sans-serif; 
}
.filter-balls:hover{
    background-color: #F6F8FA;
    color: black !important;
}


@media (max-width:650px) {
    .filter-admin-pan p, .sortirovka-admin-pan p{
    display: none;
    }
    .filter-admin-pan, .sortirovka-admin-pan{
        font-size: 17px;
    }
    .search-input-admin{
        display: flex;
        align-items: center;
        gap: 5px;
        height: 40px;
        border: 1px solid #E2E4E9;
        border-radius: 10px;
        width: 400px;
        color: #868C98;
        padding-left: 5px;
    }
}
@media (max-width:500px) {
    .search-filter-admin{
        width: 90%;
    }
}

.show-point-admin{
    display: flex;align-items: center;
    background-color: #F6F8FA;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 10px;
    color: #525866;
    font-family: "Inter", sans-serif; 
}
.show-point-admin th{
    color: #525866;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.show-point-admin1{
    display: flex;align-items: center;
    width: 100%;
    border-radius: 10px;
    font-family: "Inter", sans-serif; 
    margin-top: 20px;
}
.show-point-admin1 td, .show-point-admin2 td{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding:10px;
    font-weight: 550;
}
.wdth-bolishuchun{
    width: 25%;
}

.filter-little-modal_1{
    display: block !important;
}

.img-name-login-admin-pan{
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-admin{  
      max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 15px 20px;
}

.users-id-admin{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-users-admin{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.img-users-admin img{
    width: 100%;
}
.users-info-admin{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name-mail-users-admin{
    text-align: start;
    font-family: "Inter", sans-serif; 
}
.name-mail-users-admin p{
    font-size: 17px;
    font-weight: 550;
}
.name-mail-users-admin span{
    font-size: 13px;
    font-weight: 450;
    color: #525866;
}

.users-point-admin{
    display: block !important;
    text-align: start;
}
.users-point-admin p{
    font-family: "Inter", sans-serif; 
    font-weight: 550;
}

.users-point-admin span{
    font-size: 12px;
    color: #3281FF;
    cursor: pointer;
}
.close-kategoriya{
    display: none;
}

.VscKebabVertical{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    position: relative;
}
.delete-change-admin{
    display: none;
    background-color: #fff;
    font-family: "Inter", sans-serif; 
    cursor: pointer;
    width: 150px;
    position: absolute;
    top: 50px;
    z-index: 999;
}
.delete-change-admin span{
    color: #868C98;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 10px;
}
.delete-change-admin p{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #525866;
    }
.delete-change-admin p:hover{
background-color: #F6F8FA;
color: #000;
}
.delete-change-admin p:hover .RiDeleteBin6Line{
    color: #375DFB;
    }
.delete-change-admin p:hover .FiEdit3{
    color: #375DFB;
    }
    .filter-little-modal_4{
        display: block !important;
    }


.game-kategoriya-admin{
    display: block !important;
    text-align: start;
    font-family: "Inter", sans-serif; 

}
.show-point-admin2{
    display: none;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    font-family: "Inter", sans-serif; 
    margin-top: 20px;
}

.game-kategoriya-admin p{
    margin-top: 10px;
    font-size: 15px !important;
    font-weight: 550;
}

.filter-little-modal_2{
    display: block !important;
}
.filter-little-modal_3{
    display: block !important;
}
.filter-little-modal_5{
background:#E2EEFA
}

.big-modal-for-edit-admin{
    background-color: #000000a6;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-for-edit-admin{
    width: 500px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.inputs-edit-admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-top: 30px ;
    font-family: "Inter", sans-serif; 
    text-align: start;
    font-weight: 550;
}
.input-edit-admin input{
outline: none;
border: 1px solid #E2E4E9;
width: 200px;
height: 35px;
border-radius: 10px;
margin-top: 10px;
padding-left: 5px;
}
.input-edit-admin span{
    color: #3281FF;
}
.type-file-admin{
    border: none !important;
    padding: 5px;
}
.modal-for-edit-admin button{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #3281FF;
    color: #fff;
    margin-top: 50px;
}
.IoClose{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    font-size: 30px;
}