.Signin{
    background: #F6F8FA;
    width: 100%;
    height: 100vh !important;
}
.Signin input{
    outline: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    color: #525866;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.nav span{
    color: #375DFB;
    cursor: pointer;
    text-decoration: underline;
}
*{
    margin: 0;
    padding: 0;
}

.person-signin{
    width: 88px;
    height: 88px;
    border: none;
    border-radius: 50%;
    background:#E4E5E77A;
    display: flex;align-items: center;justify-content: center;
}
.person-signin2{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    display: flex;align-items: center;justify-content: center;
}
.person-signin .IoPerson{
    font-size: 30px;
    color: #525866;
}

.signin{
    display: flex;
    align-items: center;
    justify-content: center;
}


.kotta-signin{
    background-color: #fff;
    border-radius: 10px;
    width: 440px;
    height: 516px;
    padding: 20px 0px 0px 0px;
}


.text-signin p{
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.text-signin span{
    color: #525866;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.signin hr{
    border: none;
    height: 2px;
    background-color: #E2E4E9;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.kotta-person{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}


.second-signin{
    width: 80%;
    margin: auto;
}
.second-signin input{
    border: none;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    padding-left: 5px;
}

.second-signin input:focus{
    border: 1px solid white;
}



.input-email, .input-password{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid #E2E4E9;
    border-radius: 10px;
    padding: 0px 10px;
}

.second-signin p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 0px; 
    text-align: start ;  
}

.password-text{
    margin-top: 15px;
}

.forget-password-signin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.chekbox-signin{
    display: flex;
    align-items: center;
    gap: 15px;
}
.chekbox-signin input{
    width: 15px;
    height: 15px;
}
.chekbox-signin p{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    height: 15px;
    margin-top: 6px;
}
.chekbox-signin2 p{
    font-family: "Inter", sans-serif;
    color: #525866;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 6px;
}

.second-signin button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #3281FF;
    color: white;
    margin-top: 20px;
}


@media (max-width:500px) {
    .nav{
        display: block;
        margin-bottom: 20px;
    }
    .kotta-signin{
        background-color: #fff;
        border-radius: 10px;
        width: 380px;
        height: 500px;
        padding: 20px 0px 0px 0px;
    }
    .forget-password-signin{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .chekbox-signin{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .chekbox-signin input{
        width: 13px;
        height: 13px;
    }
    .chekbox-signin p{
        font-family: "Inter", sans-serif;
        font-size: 13px;
        height: 15px;
        margin-top: 6px;
    }
    .chekbox-signin2 p{
        font-family: "Inter", sans-serif;
        color: #525866;
        text-decoration: underline;
        font-size: 11px;
        margin-top: 6px;
    }
    .text-signin p{
        font-size: 20px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
    }
    .text-signin span{
        color: #525866;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 11px;
    }
    .text-signin2 p{
        font-size: 18px !important;
        font-weight: 600;
        font-family: "Inter", sans-serif;
    }
    
    .text-signin2 span{
        color: #525866;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 11px;
    }
}

@media (max-width:400px) {
    .kotta-signin{
        background-color: #fff;
        border-radius: 10px;
        width: 320px;
        height: 450px;
        padding: 20px 0px 0px 0px;
    }
    .text-signin p{
        font-size: 18px;
    }
    .text-signin span{
        font-size: 10px;
    }
    .text-signin2 p{
        font-size: 15px !important;
        font-weight: 600;
        font-family: "Inter", sans-serif;
    }
    
    .text-signin2 span{
        color: #525866;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }
    .second-signin p{ 
        font-size: 13px;
    }
    .input-email, .input-password{
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: 30px;
        border: 1px solid #E2E4E9;
        border-radius: 10px;
        padding: 0px 3px;
    }
    .second-signin input{
        border: none;
        height: 25px;
        width: 80%;
        border-radius: 10px;
        padding-left: 5px;
    }
    .chekbox-signin input{
        width: 12px;
        height: 12px;
        margin-top: -3px;
    }
    .chekbox-signin p{
        font-family: "Inter", sans-serif;
        font-size: 10px;
        height: 15px;
        margin-top: 10px;
    }
    .chekbox-signin2 p{
        font-family: "Inter", sans-serif;
        color: #525866;
        text-decoration: underline;
        font-size: 10px;
        margin-top: 6px;
    }
}

.little-footer-signin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.little-footer-signin p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #525866;
}
.little-footer-signin2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.little-footer-signin2 p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #525866;
}



.text-signin2 p{
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.text-signin2 span{
    color: #525866;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.second-signup{
    color: #375DFB;
}

.FaRegEyeSlash{
    display: none;
}